/* navigation*/
body{
margin: 0;
padding: 0;
font-family: calibri;

}

nav {
background-color: #444444;
color: white;
position: fixed;
margin-left:1%;
margin-top:1%;
margin-right:1%;
border: none;
width:98%;
box-sizing: border-box;
transition: .3s;
z-index: 1;
font-family: calibri;
}


nav .logo{
padding-left: 15px;
margin-top: 18px;
margin-right: 5px;
height: 40px;
float: left;
font-size: 22px;
transition: .3s;
overflow: hidden;
padding-right: 5px;

}

nav ul{

list-style: none;
float: left;
margin: 0;
padding: 0;
display: flex;
}



nav ul li > a{
line-height: 50px;
color: white;
padding: 9px 30px;
text-decoration: none;
text-transform: uppercase;
transition: .3s;
}



/*DROPDOWN*/

li {
float: left;
}

li a, .dropbtn {
color: #f2f2f2;
display: inline-block;
text-align: center;
padding: 9px 16px;
text-decoration: none;
}

li a:hover, .dd:hover .dropbtn {
background: #686868;
color: white;
}

li.dd {
display: inline-block;
}

.ddcontent {
background: #444444;
color: white;
display: none;
position: absolute;
min-width: 160px;
z-index: 1;
}

.ddcontent a {

text-decoration: none;
display: block;
text-align: left;
font-size: 15px;
}
.posi{
float:left;
width:100%;
font-size:12px;
margin-bottom: 25px;

}
.names{
float:left;
}

.ddcontent a:hover { background: #141414;}

.dd:hover .ddcontent {
display: block;
}
/*END OF DROPDOWN*/
section.sec1{
width: auto;
background-size: cover;
background-position: center;
}

.content{
}

.content p{

width: 900px;
margin: 30px auto;
text-align: justify;
font-size: 20px;
line-height: 30px;
}

/*footer*/

#footer {
width: 100%;
color: : #fff;
height: 40px;
font-size: 16px;
margin-bottom: 40px;
position: absolute;
}
#main-container{
width: 800px;
margin: 0 auto;
padding: 16px;
}
.header{

width: 300px;
margin: auto;
text-align: center;
line-height: 1.3;
}

.header p{
line-height: 1.3;
}
.logo-holder{
position: relative;
float: left;
width: 150px;
height: 150px;
}
.logo-holder1{
position: relative;
float: right;
width: 150px;
height: 150px;
}
.logo-holder > img{
width: 100%;

}

.pic_holder > img{
width: 100%;
height: 120px;
}

.logo-holder1 > img{
width: 100%;

}

.ctrl {
width: 200px;
margin-left: 250px;
}
.tag{
margin-top: 15px;
width: 100%;
padding: 5px;
font-weight: bold;
}
.tag1 {
font-size: 35px;
width: 400px;
margin-top: 30px;
margin-bottom: 20px;
font-weight: bold;
}

.c-wrapper{
border: 3px black solid;
border-left:0px;
border-right:0px;
border-bottom:0px;
position: relative;
width: 800px;
min-height: 570px;
}

.note{
text-align: justify;
margin:0 auto;
width: 450px;
}


.officials {
padding top: 3px;
border: black 3px solid;
border-left:0px;
border-top:0px;
border-bottom: 0px;
width: 30%;
margin: 0px;
float: left;

}
.content{
padding:30px;
}

.names{
font-size: 16px;
font-weight: bold;
}

#name-input{
text-transform: uppercase;
font-weight: bold;
}
#par{
text-align: justify;
}


.thumb-container{
width:100%;
margin-top: 20px;
width: 200px;
}
#thumb{
float:left;
width: 100px;
height: 100px;
margin: 0 auto;
border: 1px solid;
}


.ctc{
padding-top: 20px;
width: 500px;
}

.puno{
float:right;
}

.signature{
margin-top: 30px;
width: 300px;
}

.signline{text-decoration: overline;}

.seal{
margin-top: 50px;
padding-right: 45px;
}

.margin {margin-top: 170;}


.qwe{width: 90%; margin: 0 auto; padding: 16px;}

.input-container{
position: relative;
display: inline-block;
border: black 5px double;
border-radius: 25px;
width: 90%;
margin:120px 40px 0 40px;
padding: 16px;
}

.input-container > div{float: left;margin-left: 50px;}


.uploadform{
padding-top: 5px;
border-top: 1px solid;
width: 60%;
margin: 0 auto;

}

form label{
padding-top: 10px;
display: inline-block;
width: 120px;
margin-right: 30px;
text-align: right;
font-weight: bold;
}

/**end of input-container**/

/**left panel-input**/
.left {

width: 50%;
float: left;

}

/**end of left panel-input**/

/**right panel-input**/
.right {
width: 50%;
float: left;

}

/**end of right panel-input**/

/**right btn**/
.btn {text-align: center;}


/**end of btn panel-input**/
/*TABLE-HOLDER*/
.table-holder table{
width: 100%;
}
.table-holder th, td{
padding: 10px;
}